:root {
    --primary-violet: hsl(256, 25%, 20%);
    --primary-blue: hsl(216, 30%, 68%);
    --neutral-900: hsl(0, 0%, 0%);
    --neutral-700: hsl(270, 9%, 17%);
    --neutral-500: hsl(273, 4%, 51%);
    --neutral-200: hsl(0, 0%, 98%);
    --neutral-100: hsl(0, 0%, 100%);
    /* --height: calc(100vh - 86px); */
}

* {
    padding: 0;
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'DM Serif Display', sans-serif;;
    font-weight: 400;
}

h2 {
    font-size: 1.75em;
}

p {
    margin: 1em 0;
    font-size: 1.125em;
    line-height: 1.8;
}

img { 
    width: 100%;
    max-width: 100%;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    color: var(--neutral-100);
    border: 1px solid var(--neutral-100);
    padding: .75em 2.25em;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    text-transform: uppercase;
}

.hero .btn {
    margin-top: 1em;
}

.pd1 {
    padding: 4.5em 1.65em;
}

.pd2 {
    padding: 8em 1.65em;
}

.nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em;
}

.nav-mobile-menu {
    display: none;
    height: 100vh;
    background: var(--neutral-700);
}

.nav-mobile-menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em;
    list-style: none;
}

.nav-mobile-menu-link a, .nav-mobile-menu-link .btn {
    text-decoration: none;
    color: var(--neutral-100);
    text-transform: uppercase;
    letter-spacing: .04em;
}

.nav-mobile-menu-link {
    margin: 1em 0;
    font-size: 1.375em;
}

.nav-mobile-menu-bg {
    position: absolute;
    bottom: -21px;
    left: 0;
    right: 0;
}

.nav-mobile-menu-open {
    display: block;
}

.overflowHidden {
    overflow: hidden;
}

.nav-mobile-menu-link.nav-mobile-menu-btn, .btn-lg {
    width: 100%;
}

.hero {
    background-color: var(--primary-violet);
    color: var(--neutral-100);
    position: relative;
}

.hero-title {
    font-size: 2.625em;
}

.hero-text {
    z-index: 1;
    background: url('../images/bg-pattern-intro-left-mobile.svg') no-repeat top left;
}

.hero::after {
    content: '';
    display: block;
    width: 124px;
    height: 330px;
    background-image: url('../images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
    position: absolute;
        bottom: -175px;
        right: 0;
}

.hero-white-bg1, .hero-white-bg2, .hero-dark-bg, .hero-hr {
    display: none;
}

.about {
    z-index: 1;
}

.about-hr {
    width: 45%;
    margin: 0 auto;
    opacity: 45%;
}

.about-title {
    font-size: 3.1em;
    margin: .9em .75em 1.25em .75em;
}

.about-row {
    margin: 2.5em 1em;
}

.about-icon {
    width: 75px;
    height: 75px;
    margin: 1.25em 1.25em 1.625em 1.25em;
}

.about p, h3 {
    color: var(--neutral-500);
}

.how-we-work {
    margin: 1.25em 1.25em 8em 1.25em;
    color: var(--neutral-100);
    background: var(--primary-violet) url('../images/bg-pattern-how-we-work-mobile.svg') no-repeat top right;
}

.how-we-work h2 {
    font-size: 2.6em;
    margin-bottom: 1em;
}

footer {
    background: var(--neutral-200) url('../images/bg-pattern-footer-mobile.svg') no-repeat top / contain;
    padding: 2em;
    text-transform: uppercase;
}

footer h3, h4 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

footer hr {
    opacity: 21%;
    margin-bottom: 3em;
    margin-top: 3em;
}

footer a {
    text-decoration: none;
    color: var(--primary-violet);
}

.social  {
    padding: 4em 7em 2em 7em;
}

.social-icons  {
    display: flex;
    justify-content: space-between;
}

.social-icons img  {
    width: 25px;
    height: 25px;
}

.footer-logo  {
    width: 125px;
    margin-bottom: 2.5em;
}
    
.footer-links div + div {
    margin-top: 3em;
}

footer h3 + h4 {
    margin-top: 2em;
}

footer h4 + h4 {
    margin-top: 1em;
}

.attribution { 
    margin-top: 4em;
    font-size: 11px; 
    text-align: center; 
    text-transform: none;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1440px) {

    body {
        text-align: initial;
    }

    .btn:hover {
        background-color: var(--neutral-100);
        color: var(--primary-violet);
        border: 1px solid var(--neutral-100);
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 15em;
        margin-right: 15em;
    }

    .nav-menu-icon {
        display: none;
    }
    
    .nav-mobile-menu {
        display: block;
        height: auto;
        background-color: var(--neutral-100);
    }

    .nav-mobile-menu-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        height: auto;
        padding: .25em .25em;
    }

    .nav-mobile-menu-links a {
        color: var(--neutral-500);
        font-weight: 700;
    }

    .nav-mobile-menu-links a:hover {
        color: var(--primary-violet);
    }

    .nav-mobile-menu-link .btn {
        color: var(--neutral-900);
    }

    .nav-mobile-menu-bg {
        display: none;
    }

    .nav-mobile-menu-link.nav-mobile-menu-btn, .btn-lg {
        width: auto;
    }

    .nav-mobile-menu-link {
        margin: 0 0;
        font-size: 1.1em;
    }

    .nav-mobile-menu-link + .nav-mobile-menu-link {
        margin-left: 1.5em;
    }

    .nav-mobile-menu-link + .nav-mobile-menu-link.nav-mobile-menu-btn {
        margin-left: 2em;
    }

    nav .btn {
        background-color: var(--neutral-100);
        color: var(--primary-violet);
        border: 2px solid var(--primary-violet);
        padding: .55em 1.4em;
    }

    nav .btn:hover {
        background-color: var(--primary-violet);
        color: var(--neutral-100);
    }
    
    .nav-mobile {
        padding: 2em 1em;
    }

    .pdlr {
        padding-left: 5.5em;
        padding-right: 5.5em;
    }

    .hero {
        position: relative;
        display: grid;
        padding-top: 10em;
        margin-bottom: 13em;
        grid-template-columns: [col1-start] 53% [col2-start col2-end] 37% [col3-end] 15em;
        grid-template-areas: 
            "hero-text hero-image hero-dark"
            "hero-text hero-image hero-dark"
            "hero-white1 hero-image hero-white2";
    }

    .hero-hr {
        display: block;
        margin-bottom: 6em;
        width: 20%;
    }

    .hero-text {
        grid-area: hero-text;
        background: none;
        text-align: left;
        padding-left: 15em;
        padding-top: 0;
    }

    .hero h1 {
        font-size: 5em;
    }

    .hero p {
        font-size: 1.4em;
        margin-bottom: 1.75em;
    }

    .hero .btn {
        font-size: 1.375em;
        padding: .6em 1.4em;
    }

    .hero-pattern {
        grid-area: hero-pattern;
        position: absolute;
        width: 436px;
        height: 593px;
        top: 0;
        right: 0;
        background: url('../images/bg-pattern-intro-right-desktop.svg') no-repeat; 
    }

    .hero-img {
        grid-area: hero-image;
    }

    .hero-dark-bg {
        display: block;
        background-color: var(--primary-violet);
        grid-area: hero-dark;
        height: 100%;
    }

    .hero-white-bg1 {
        display: block;
        background-color: var(--neutral-100);
        grid-area: hero-white1;
        height: 100%;
    }

    .hero-white-bg2 {
        display: block;
        background-color: var(--neutral-100);
        grid-area: hero-white2;
        height: 100%;
    }

    .hero::after {
        content: '';
        display: block;
        width: 195px;
        height: 504px;
        background-image: url('../images/bg-pattern-intro-left-desktop.svg');
        background-repeat: no-repeat;
        position: absolute;
            bottom: -250px;
            left: 0;
    }

    .pd2 {
        padding: 0 0;
    }

    .about {
        margin-bottom: 6em;
    }

    .about, footer {
        padding-left: 15em;
        padding-right: 15em;
    }

    .about-hr {
        width: 10%;
        margin: 0 0;
    }

    .about-title {
        font-size: 4em;
        margin-left: 0;
    }

    .about-rows {
        display: flex;
    }
    
    .about-icon {
        margin: 1.25em 0em 1.625em 0em;
    }

    .how-we-work {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1.25em 15em 8em 15em;        
        background: var(--primary-violet) url('../images/bg-pattern-how-we-work-desktop.svg') no-repeat top right / contain;
    }

    .how-we-work .btn {
        flex-grow: 0;
    }

    .how-we-work h2 {
        margin-bottom: 0;
        font-size: 4em;
        max-width: 50%;
    }

    footer {
        display: flex;
        flex-direction: column;
        background: url('../images/bg-pattern-footer-desktop.svg') no-repeat top left;
    }

    .footer-logo  {
        width: 175px;
        margin-bottom: 0;
    }

    footer hr {
        margin-bottom: 3.5em;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        width: 99%;
    }

    .social {
        display: flex;
        justify-content: space-between;
        padding: 4em 0 1em 0;
    }

    .social-icon img:hover {
        filter: contrast(0) invert(11%) sepia(6%) saturate(5707%) hue-rotate(215deg) brightness(25%) contrast(86%);
    }

    .social-icon + .social-icon {
        padding-left: 1.25em;
    }

    .footer-logo {
        width: 112px;
        height: 18px;
    }

    .footer-links {
        display: flex;
    }
    
    .footer-links div + div {
        margin-top: 0;
        margin-left: 16em;
    }
    
    footer h3 + h4 {
        margin-top: 2.5em;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
 
}